<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <script type="module">-->
<!--        // Import the functions you need from the SDKs you need-->
<!--        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.22.1/firebase-app.js";-->
<!--        // TODO: Add SDKs for Firebase products that you want to use-->
<!--        // https://firebase.google.com/docs/web/setup#available-libraries-->

<!--        // Your web app's Firebase configuration-->
<!--        const firebaseConfig = {-->
<!--            apiKey: "AIzaSyCVKICbloXtfYVX1R4APZnQAbDiQa-332w",-->
<!--            authDomain: "capstone-4159e.firebaseapp.com",-->
<!--            projectId: "capstone-4159e",-->
<!--            storageBucket: "capstone-4159e.appspot.com",-->
<!--            messagingSenderId: "621118835015",-->
<!--            appId: "1:621118835015:web:25935a7efa827ddec76462"-->
<!--        };-->
<!--        // Initialize Firebase-->
<!--        const app = initializeApp(firebaseConfig);-->
<!--    </script>-->
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript"
            th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=2d7b33c946deab659af266ae276ed039&libraries=services}"></script>
    <script th:src="@{/js/under768nav.js}"></script>
    <script th:src="@{/js/sidebar.js}"></script>
    <script th:src="@{/js/service-worker.js}"></script>
</head>
<body>
<div class="header">
    <div>
        <a th:href="@{/members/new}">회원가입</a>
        <a th:href="@{/login}">로그인</a>
        <a th:href="@{/members}">회원 목록</a>
        <a th:href="@{/restaurants}">식당 목록</a>
        <a th:href="@{/waitlist}">대기 목록</a>
        <div style="float:right;">
            <a th:if="${session.loginMember != null and session.loginMember.memberName != null}"
               th:text="${session.loginMember.memberName} + '님'"></a>
            <a th:if="${session.loginMember != null and session.loginMember.memberName != null}"
               th:href="@{/logout}">로그아웃</a>
        </div>
    </div>
    <div class="menubar-toggle-btn" onclick="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <h1>Test</h1>
</div>
<div class="topnav">
    <!--    <a class="topnav-item" th:href="@{/}"><img src="" style="width: 50px; height: 50px;"><br/>홈</a>-->
    <!--    <a class="topnav-item" th:href="@{/search}"><img src="" style="width: 50px; height: 50px;"><br/>검색</a>-->
    <a class="topnav-item" th:href="@{/}"
       th:classappend="${#httpServletRequest.requestURI == '/'} ? 'topnav-item--selected'"><img src=""
                                                                                                style="width: 50px; height: 50px;"><br/>홈</a>
    <a class="topnav-item" th:href="@{/search}"
       th:classappend="${#httpServletRequest.requestURI == '/search'} ? 'topnav-item--selected'"><img src=""
                                                                                                      style="width: 50px; height: 50px;"><br/>검색</a>
    <a class="topnav-item" href="#"><img src="" style="width: 50px; height: 50px;"><br/>내 정보</a>
    <a class="topnav-item" href="#"><img src="" style="width: 50px; height: 50px;"><br/>설정</a>
</div>
<div class="row">
    <div class="leftsidebar">
        <a href="#" class="closebtn" onclick='closeSidebar()'>x</a>
        <h2>Left Sidebar</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse est odio, imperdiet eget erat a,
            faucibus pharetra odio. Maecenas quis nunc nibh.</p>
    </div>
    <div class="leftcolumn">
        <div class="card">
            <h2>현재 위치</h2>
            <h3 id="location"></h3>
        </div>
        <div class="card">
            <h1 style="text-align: center;">식당 목록</h1>
            <select style="float: right;">
                <option value="거리">거리순</option>
                <option value="평점">평점순</option>
            </select>
        </div>
        <div class="card" th:each="restaurant : ${restaurants}">
            <div class="card-body" style="display: flex;"
                 th:onclick="|location.href='@{/{restId}(restId=${restaurant.restId})}'|">
                <img th:src="${restaurant.image}" style="width: 200px; height: 200px;">
                <div style="display: flex; flex-direction: column; margin-left: 20px;">
                    <h2 th:text="${restaurant.restName}"></h2>
                    <p th:text="'평점 : ' + ${restaurant.rating}"></p>
                    <p th:text="${restaurant.cuisine} + ' · ' + ${restaurant.neighborhood} + ' · ' + ${restaurant.distance} + 'km'"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>test</h2>
            <div class="fakeimg" style="height:100px;">Image</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse est odio, imperdiet eget erat a,
                faucibus pharetra odio. Maecenas quis nunc nibh.</p>
        </div>
        <div class="card">
            <h3>test</h3>
            <div class="fakeimg"><p>Image</p></div>
            <div class="fakeimg"><p>Image</p></div>
            <div class="fakeimg"><p>Image</p></div>
        </div>
        <div class="card">
            <h3>test</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse est odio, imperdiet eget erat a,
                faucibus pharetra odio. Maecenas quis nunc nibh.</p>
        </div>
    </div>
</div>
<div class="footer">
    <h2>Footer</h2>
</div>
<script type="text/javascript">
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        document.getElementById("location").innerHTML = "Geolocation is not supported by this browser.";
    }

    function showPosition(position) {
        let latitude = position.coords.latitude;
        let longitude = position.coords.longitude;
        let geocoder = new kakao.maps.services.Geocoder();

        geocoder.coord2Address(longitude, latitude, function (result, status) {
            if (status === kakao.maps.services.Status.OK) {
                let address = result[0].address.address_name;
                document.getElementById("location").innerHTML = address + "";
            } else {
                document.getElementById("location").innerHTML = "주소를 찾을 수 없습니다.";
            }
        });
    }

    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/service-worker.js')
                .then(function(registration) {
                    alert('Service Worker 등록 성공:');
                })
                .catch(function(error) {
                    alert('Service Worker 등록 실패:');
                });
        });
    }
</script>
</body>
</html>