<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script type="text/javascript"
            th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=2d7b33c946deab659af266ae276ed039&libraries=services}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--    <script th:src="@{/js/sendPushNotification.js}"></script>-->
</head>
<body>
<div class="header">
    <h1>대기 목록</h1>
</div>
<div class="topnav">
    <a class="topnav-item" th:href="@{/}"><img src="" style="width: 50px; height: 50px;"><br/>홈</a>
    <a class="topnav-item" th:href="@{/search}"><img src="" style="width: 50px; height: 50px;"><br/>검색</a>
    <a class="topnav-item" href="#"><img src="" style="width: 50px; height: 50px;"><br/>내 정보</a>
    <a class="topnav-item" href="#"><img src="" style="width: 50px; height: 50px;"><br/>설정</a>
</div>
<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <h2>대기 목록</h2>
            <table>
                <thead>
                <tr>
                    <th>대기 번호 / </th>
                    <th>이름 / </th>
                    <th>대기 시작 시간</th>
                    <th>
                        <button th:text="'전체 삭제'"
                                th:onclick="|location.href='@{/{restId}/manage/deleteWaits(restId=${#vars.restId})}'|"></button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="wait : ${waits}">
                    <td th:text="${wait.waitNumber}"></td>
                    <td th:text="${wait.member.memberName}"></td>
                    <td th:text="${wait.startTime}"></td>
                    <td>
                        <button th:text="'알림 전송'"
                                th:onclick="|location.href='@{/{restId}/notice(restId=${#vars.restId}, waitId=${wait.id})}'|"></button>
<!--                        <button th:text="'알림 전송'"-->
<!--                                onclick="sendPushNotification([[${restId}]], [[${wait.id}]])"></button>-->
                    </td>
                    <td>
                        <button th:text="'삭제'"
                                th:onclick="|location.href='@{/{restId}/manage/{waitId}/delete(restId=${#vars.restId}, waitId=${wait.id})}'|"></button>
                    </td>
                    <td>
                        <div th:if="${param.notificationSent != null and param.check != null and param.notificationSent[0] == 'true' and param.check[0] == 'true'}">
                            <p>알림 전송 완료</p>
                            <p>전송 시간: <span th:text="${param.notificationSentTime[0]}"></span></p>
                        </div>
                        <div th:if="${param.notificationSent != null and param.check != null and param.notificationSent[0] == 'false' and param.check[0] == 'true'}">
                            <p>알림 전송 실패</p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
<!--        <div class="card">-->
<!--            <button th:onclick="|location.href='@{/{restId}/waiting1(restId=${restaurant.restId})}'|">줄서기</button>-->
<!--            <button>예약</button>-->
<!--        </div>-->
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h2>위치</h2>
            <div id="map" style="width:100%;height:400px;"></div>
            <script>
                var mapContainer = document.getElementById('map');
                var options = {
                    center: new kakao.maps.LatLng(${restaurant.latitude}, ${restaurant.longitude}),
                    level: 3
                };
                var map = new kakao.maps.Map(mapContainer, options);
                var markerPosition  = new kakao.maps.LatLng(${restaurant.latitude}, ${restaurant.longitude});
                var marker = new kakao.maps.Marker({
                    position: markerPosition
                });
                marker.setMap(map);

                function sendPushNotification(restId, waitId)
                {
                    // Ajax 요청을 통해 서버로 푸시 알림 전송 요청 보내기
                    $.ajax({
                        url: `/${restId}/notice?&waitId=${waitId}`,
                        method: 'POST',
                        success: function (response)
                        {
                            // 푸시 알림 전송이 완료되었다는 메시지 또는 다른 동작 수행
                            console.log('푸시 알림 전송 완료');
                            // 원하는 동작을 수행할 타임리프 코드 추가 가능
                        },
                        error: function (error)
                        {
                            // 오류 처리
                            console.log('푸시 알림 전송 오류:', error);
                        }
                    });
                }
            </script>
        </div>
        <div class="card">
            <h2>리뷰</h2>
            <ul>
                <!--<li th:each="review : ${restaurant.reviews}" th:text="${review.comment}"></li>-->
            </ul>
        </div>
    </div>
</div>
</body>
</html>