<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/under768nav.js}"></script>
</head>
<body>
<div class="header">
    <a style="float: right;">
        <div class="menubar-toggle-btn" onclick="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </a>
    <h1>원격 줄서기</h1>
</div>
<div class="topnav">
    <a class="topnav-item" th:href="@{/}"><img src="" style="width: 50px; height: 50px;"><br/>홈</a>
    <a class="topnav-item" th:href="@{/search}"><img src="" style="width: 50px; height: 50px;"><br/>검색</a>
    <a class="topnav-item" href="#"><img src="" style="width: 50px; height: 50px;"><br/>내 정보</a>
    <a class="topnav-item" href="#"><img src="" style="width: 50px; height: 50px;"><br/>설정</a>
</div>
<div class="row">
    <div class="leftsidebar">
        <a href="#" class="closebtn" onclick="closeSidebar()">x</a>
        <h2>Left Sidebar</h2>
        <p>Some content in the left sidebar</p>
    </div>
    <div class="leftcolumn">
        <div class="card">
            <h2 th:text="'현재 대기 ' + ${waitCount} + '팀'"></h2>
            <h3 th:text="'예상 대기 시간 : ' + ${waitTime} + '분'"></h3>
        </div>
        <div class="card">
            <th:block th:if="${session.loginMember}">
                <button th:onclick="|location.href='@{/{restId}/createWait(restId=${restaurant.restId}, memberId=${session.loginMember.memberId})}'|" th:text="'대기 신청'"></button>
            </th:block>
            <th:block th:unless="${session.loginMember}">
                <button th:onclick="|location.href='@{/{restId}/createWait(restId=${restaurant.restId})}'|" th:text="'대기 신청'"></button>
            </th:block>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>